.staff-list-container {
    width: 1512px;
    background-color: #F0EFF2;
    margin: 0 auto;
    padding-top: 40px;
    min-height: 100vh;
}

@media screen and (max-width: 1512px) {
    .staff-list-container {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
}

.attendance-header-menu {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: 0px;
}

.attendance-header-menu a,
.attendance-header-menu button {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px 0;
    line-height: 1;
}

.attendance-header-menu a:hover,
.attendance-header-menu button:hover {
    opacity: 0.7;
}

.page-bar {
    position: absolute;
    top: 180px;
    left: 302px;

    width: 40px;
    height: 0px;

    border: 6px solid #000000;
    transform: rotate(90deg);
}

.page-title {
    position: absolute;
    top: 150px;
    left: 350px;

    width: 180px;
    height: 36px;

    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
}

.table-wrapper {
    width: 900px;
    margin: 120px auto 0;
}

.staff-table {
    width: 100%;
    border-collapse: collapse;
    background: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #E1E1E1;
}

.staff-table thead th {
    padding: 14px 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0.25em;
    color: #737373;
    text-align: center;
    background: #F8F8F8;
    border-bottom: 3px solid #E1E1E1;
    padding-left: 10px ;
    width: 30%;

}

.staff-table tbody td {
    padding: 14px 16px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #737373;
    text-align: center;
    border-bottom: 1px solid #E1E1E1;
    padding-right: 60px;
    width: 35%;

}

.detail-link {
    font-weight: 700;
    letter-spacing: 0.15em;
    color: #000000;
    text-decoration: none;
}

.detail-link:hover {
    text-decoration: underline;
}