.attendance-list-container {
    width: 1512px;
    background-color: #F0EFF2;
    margin: 0 auto;
    padding-top: 40px;
}

@media screen and (max-width: 1512px) {
    .attendance-list-container {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
}

.attendance-header-menu {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: 0px;
}

.attendance-header-menu a,
.attendance-header-menu button {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px 0;
    line-height: 1;
}

.attendance-header-menu a:hover,
.attendance-header-menu button:hover {
    opacity: 0.7;
}

.attendance-list-title {
    display: flex !important;
    align-items: center !important;
    margin: 40px auto 20px auto !important;
    width: 1000px !important;
}

.attendance-list-title-line {
    width: 0;
    height: 40px;
    border-left: 8px solid #000000;
    margin-right: 20px;
}

.attendance-list-title-text {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #000000;
    letter-spacing: 0;
    line-height: 1;
}

.attendance-list-date-bar {
    width: 940px;
    height: 60px;
    background-color: #FFFFFF;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 20px auto;
    padding: 0 30px;
}

.date-left,
.date-center,
.date-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.date-prev-icon,
.date-next-icon {
    width: 20px;
    height: 15px;
    opacity: 0.3;
    cursor: pointer;
}

.date-next-icon {
    transform: scaleX(-1);
}

.date-prev-text,
.date-next-text {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #737373;
    letter-spacing: 0.15em;
    line-height: 1;
    cursor: pointer;
}

.date-calendar-icon {
    width: 25px;
    height: 25px;
}

.date-current {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    letter-spacing: 0;
    line-height: 1;
}

.attendance-list-table-container {
    width: 900px;
    min-height: 1506px;
    background-color: #FFFFFF;
    border-radius: 10px;

    margin: 40px auto 60px;
    padding: 20px 50px;
}

.attendance-list-table-header {
    width: 910px;
    height: 31px;
    border-bottom: 3px solid #E1E1E1;
    

    display: flex;
    align-items: center;

    padding-left: 40px !important;
    margin: 0;
}

.attendance-list-header-item {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #737373;
    letter-spacing: 0.15em;
    line-height: 1;
}


.attendance-list-header-name {
    width: 189px;
}

.attendance-list-header-start {
    width: 133px;
}

.attendance-list-header-end {
    width: 133px;
}

.attendance-list-header-break {
    width: 133px;
}

.attendance-list-header-total {
    width: 133px;
}

.attendance-list-header-detail {
    width: 133px;
}

.attendance-list-row {
    width: 900px;
    height: 45px;

    display: flex;
    align-items: center;

    border-bottom: 1px solid #E1E1E1;

    margin: 0 auto;
    padding-left: 40px;
}

.attendance-list-row-item {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.15em;
    line-height: 1;
    color: #000000;
}

.attendance-list-row-name {
    width: 189px;
}

.attendance-list-row-start,
.attendance-list-row-end,
.attendance-list-row-break,
.attendance-list-row-total,
.attendance-list-row-detail {
    width: 133px;
}